* {
	border: 0%;
	margin: 0%;
	box-sizing: border-box;
}
body {
	color: #feffff;
	background: linear-gradient(to bottom, rgb(24, 22, 54), rgb(23, 23, 73));
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	min-height: 100vh;
}
html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	overflow-x: auto;
	scrollbar-width: none;
}
a {
	text-decoration: none;
	color: white;
}

.container {
	max-width: 1536px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}
section {
	height: 100vh;
	scroll-snap-align: center;
}
section:nth-child(3) {
	height: auto;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

@media (min-width: 1536px) {
	.container {
		max-width: 1380px;
	}
}
